version: '3.8'

services:
  frontend:
    build:
      context: .
      args:
        - VITE_API_USER=${API_USER}
        - VITE_API_PASS=${API_PASS}
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server/data:/app/data
    environment:
      - API_USER=${API_USER}
      - API_PASS=${API_PASS}
